/** @format */

.App {
  text-align: center;
  background: #f1f1f1;
  width: 100%;
  margin: auto;
  text-align: start;
  padding: 2vw 2vw 0vw 1.6vw;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.severe {
  width: 24px;
  height: 24px;
  padding: 8px;
  background: orange;
  color: #666;
  text-align: center;
  padding: 0.3vw;
  border-radius: 50%;
}
.notsevere {
  width: 24px;
  height: 24px;
  padding: 8px;
  background: red;
  color: #666;
  text-align: "center";
  padding: "0.3vw";
  border-radius: 50%;
}
.sider {
  background: #03ecfc;
  width: 5%;
}
.notifications {
  width: 90%;
}
.searchbar {
  margin-top: 2vw;
}
.notificationtext {
  font-weight: bold;
  opacity: 0.8;
  font-size: 1.5vw;
}
.nestedtable {
  margin-top: 2vw;
}
.bellicon {
  font-size: 30px;
  color: white;
  margin-top: 39vw;
  margin-left: 1.5vw;
}
.allsubmissionbuttons {
  margin-bottom: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
